{% extends "layout.html" %}

{% block body %}
{{ link_breadcrumbs(breadcrumbs) }}

<div class="panel panel-default panel-dirview">
  <table class='table table-bordered table-hover'>
    <tbody>
      {% if len(breadcrumbs) > 1 %}
      <tr>
        <td>
          <a href="{{ from_base(breadcrumbs[-2]['url']) }}">
            <span class="fa fa-level-up"></span>..
          </a>
        </td>
      </tr>
      {% endif %}
      {% for entry in entries %}
        <tr>
          <td>
            <div class="clearfix">
              <div class="pull-left">
                <span class="{{entry.class}} text-muted"></span>
                {% if entry.url %}
                <a href="{{ from_base(entry.url) }}">
                {% endif %}
                {{entry.name}}
                {% if entry.url %}
                </a>
                {% endif %}
              </div>
              <div class="pull-right">
                <span class="modtime text-muted text-right" data-modtime="{{ entry.modtime }}"></span>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>  
</div>
<script type="text/javascript">
  require(["moment"], function(moment, sk) {
    moment.locale("sk");
    $(".modtime").map(function (i, el) {
      // convert ISO datestamps to nice momentjs ones
      el = $(el);
      el.text(moment(new Date(el.data("modtime"))).fromNow());
    });
  });
</script>
{% endblock %}
